@charset "ISO-8859-1";



/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
                              Estilos de botones                                                  
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////// */ 

.botonVerde {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}


.botonRojo {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  text-align: center;
}

.botonAzul {
  background-color: lightBlue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}



.botonGris {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
	width: 150px;
}



.botonGrisFinal {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
	width: 150px;
    position: fixed;
	right:    0;
	bottom:   0;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
                              Estilos de headers                                                
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////// */ 



h1 {
font-family: Impact, Charcoal, sans-serif;
font-size: 31px;
letter-spacing: 3.6px;
word-spacing: 1.8px;
color: #494949;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}


	
	
/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
                              Estilos de wrapers                                              
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////// */ 	

.wrapperCenter1 {
    text-align: center;
    border: 2px solid green;
    background-color: lightgrey;
}

.wrapperCenter2 {
    text-align: center;
    border: 2px solid #c6e6f0;
    background-color: #f4f4f4;
    border-radius: 5px;
}


.wrapperRight {
    text-align: Right;

}



/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
                              Estilos de tabla                                            
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////// */ 	


table.tablaGris {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: 2px solid #5B5B5B;
  background-color: #F4F4F4;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.tablaGris td, table.tablaGris th {
  border: 1px solid #AAAAAA;
  padding: 4px 4px;
}
table.tablaGris tbody td {
  font-size: 13px;
}
table.tablaGris td:nth-child(even) {
  background: #EAEAEA;
}
table.tablaGris thead {
  background: #A0A0A0;
  background: -moz-linear-gradient(top, #b8b8b8 0%, #a9a9a9 66%, #A0A0A0 100%);
  background: -webkit-linear-gradient(top, #b8b8b8 0%, #a9a9a9 66%, #A0A0A0 100%);
  background: linear-gradient(to bottom, #b8b8b8 0%, #a9a9a9 66%, #A0A0A0 100%);
  border-bottom: 2px solid #444444;
}
table.tablaGris thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #606060;
}
table.tablaGris thead th:first-child {
  border-left: none;
}

table.tablaGris tfoot td {
  font-size: 14px;
}
table.tablaGris tfoot .links {
  text-align: right;
}
table.tablaGris tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
                              Estilos de forms                                            
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////// */ 	



.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	text-align: center;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}
</style>